{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center mb-4">About Todo App</h1>
                <p>
                    Welcome to the Todo App! This simple web application allows you to manage your tasks and stay organized. Keep track of your to-do list, set priorities, and manage deadlines effectively.
                </p>
                <p>
                    Features of Todo App:
                    <ul>
                        <li>Add new tasks with a title, description, and due date.</li>
                        <li>Authentication with Login and Register.</li>
                        <li>Set a priority for tasks.</li>
                        <li>Edit or delete tasks as needed.</li>

                    </ul>
                </p>
                <p>
                    This is my first personal project that I finished from scratch outside of school. <a href="https://github.com/rosssheng/To-do-List-App"> GitHub Link Here!</a>
                </p>
                <p>
                    If you have any feedback, questions, or suggestions, please feel free to contact us at <a href="mailto:ross62@bu.edu">ross62@bu.edu</a>. We value your input and are always looking to improve the app based on user needs.
                </p>
                <p class="text-center">
                    <a href="{{url_for('todo')}}" class="btn btn-primary">Back to Todo List</a>
                </p>
            </div>
        </div>
    </div>
  </header>









{% include "footer.html" %}