{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}

<section class="vh-100 d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 text-center text-white">

                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
                    <form method="post" action="{{ url_for('register') }}" style="width: 23rem;">
                    {{ form.csrf_token }}
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Register</h3>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                          {% for message in messages %}
                           <p>{{ message }}</p>
                          {% endfor %}
                        {% endif %}
                      {% endwith %}

                    <!-- Render the username field -->
                    <div class="form-outline mb-4">
                        {{ form.username.label }}
                        {{ form.username(class="form-control form-control-lg", id="username") }}


                    </div>

                    <!-- Render the email field -->
                    <div class="form-outline mb-4">
                        {{ form.email.label }}
                        {{ form.email(class="form-control form-control-lg", id="email") }}

                    </div>

                    <!-- Render the password field -->
                    <div class="form-outline mb-4">
                        {{ form.password.label }}
                        {{ form.password(class="form-control form-control-lg", id="password") }}

                    </div>

                    <!-- Render the confirm_password field -->
                    <div class="form-outline mb-4">
                        {{ form.confirm_password.label }}
                        {{ form.confirm_password(class="form-control form-control-lg", id="confirm_password") }}

                    </div>

                    <div class="pt-1 mb-4">
                        {{ form.submit(class="btn btn-warning btn-lg btn-block") }}
                    </div>


                    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="{{ url_for('login') }}">Already have an account? Login here</a></p>
                </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}